body{
    margin: 0;
    display: flex;
    justify-content: center;
    
}
.main-div{
    width: 75%;
    background-color: rgb(244, 240, 235);
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* align-items: center;
    justify-content: center; */
}
.container{
    /* height: 150px; */
    display:flex;
    gap: 20px;
    /* text-align: center; */
    /* align-items: center;
    justify-content: center; */
}
.profile{
    height:120px;
    border-radius: 50%;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.about{
    margin-top: 0;
}

.skills-list{
    list-style-type: none;
    padding: 0;
    line-height: 26px;
}

.project-detail{
    line-height: 25px;
}

.skill1{
    margin-top: 8px;
}
a{
    pointer-events: auto;
}

